body {
	background: #171718;
}

/* 共通タイトル */
.head_title {
	font-family: 'Patua One', cursive;
	font-size: 8rem;
    color: #fff;
    text-align: center;
    margin: 30px auto;
}

/* TOP */
.top .top_logo {
	text-align: center;	
	position: relative;
	top: 50vh;
	margin-top: -128px;
	display: none;
}

.top .top_image img {
	width: 100%;
}

/* MENU */
.menu .icon_list {
	background: #fff;
	border-radius: 10px;
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;

	width: 90%;
    margin: 30px auto;
    padding: 20px;
}

.menu .icon_list li {
	text-align: center;
}

.menu .icon_list li img {
	width: 80%;
}
